# Caddy 配置：自动 HTTPS + 反向代理

{
    email {$CADDY_ADMIN_EMAIL}
}

app.zuishe.com.cn {
    encode gzip zstd
    reverse_proxy frontend:80
}

be.zuishe.com.cn {
    encode gzip zstd
    reverse_proxy backend:3000
}

db.zuishe.com.cn {
    encode gzip zstd
    reverse_proxy pgadmin:80
}